<div class="field prefix suffix border" id="filter">
  <i>search</i>
  <input
    type="text"
    name="text"
    hx-indicator="#filter"
    hx-target="#results"
    hx-get="/manga"
    hx-trigger="load, keyup changed delay:300ms">
  <span class="helper">Search manga by name</span>
  <a class="htmx-indicator loader"></a>
</div>
<div id="results" class="grid"></div>
