{% for manga in mangas %}
	<div class="s12 m6">
		{% const showLink = true %}
		{% importnimja "templates/manga/card.twig" %}
	</div>
{% endfor %}
{% if mangas.len != 0 %}
	<div
		class="s12 padding"
		hx-get="/manga?after={{mangas[^1].id}}"
		hx-include="#filter"
		hx-trigger="revealed"
		hx-swap="outerHTML">
		<div class="large center loader"></div>
	</div>
{% endif %}
